#schedule {
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 5rem;
}

#schedule hr {
    width: 25%;
    border: none;
    border-radius: 1rem;
    border-top: .1rem solid #C1121F;
    filter: drop-shadow(0 0 .5rem #C1121F);
    box-shadow: 0 0 .75rem #C1121F
}

#schedule a {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: #C1121F;
    padding: .75rem 1rem;
    filter: drop-shadow(0 0 .5rem #C1121F);
}

#schedule a:hover {
    filter: drop-shadow(0 .25rem 1rem #C1121F);
    transform: translateY(-.25rem);
}

@media (max-width: 768px) {
    #schedule hr {
        width: 20%;
    }
}

@media (max-width: 575px) {
    #schedule {
        justify-content: space-between;
    }

    #schedule hr {
        width: 8%;
    }

    #schedule a {
        font-size: 1.25rem;
    }
}